
.md-typeset table:not([class]) {
    --md-typeset-table-color: var(--md_primary_fg_color)        
}

.md-typeset table:not([class]) th {    
    min-width: 0;
}

strong,
em {
    color: var(--md-accent-fg-color);    
}
